<button (click)="save()">Save</button>
<button (click)="snapShot()">Snap Shot</button>
<div class="container-fluid">
  <div class="row" style="border:1px dashed red">
    <div class="col-xs">
      <graph [nodes]="directedGraph.nodes" [links]="directedGraph.links"></graph>
    </div>
    <div class="col-xs">
      <pre style="height:600px;width:800px;border:2px solid black">

      <div *ngFor="let o of logger">{{o}}</div>
</pre>
    </div>
  </div>
</div>
<div class="row" style="border:1px dashed red">
  <div class="col-xs">
    <graph [nodes]="directedGraph2.nodes" [links]="directedGraph2.links"></graph>
  </div>
  <div class="col-xs">
    <!--<div *ngFor="let n of nodes">{{n.x}} {{n.y}}</div>-->
  </div>
</div>

